<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Prozorro OCDS</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Prozorro OCDS data</h1>
		<ol>
		    {% for link in links %}
		    <li><a href="{{ link }}">{{ link }}</a></li>
		    {% endfor %}
		</ol>
	</div>
</body>
</html>
