<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Prozorro OCDS</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<p><a href='example.json'>example.json</a></p>
		<p><a href='releases.zip'>releases.zip</a>   ({{ zip_size }} MB)  <a href='{{ torrent_link }}'>.torrent</a></p>
		<ol>
		    {% for link in links %}
		    <li><a href="{{ link.link }}">{{ link.link }}</a> ({{ link.size }} MB) </li>
		    {% endfor %}
		</ol>
	</div>
</body>
</html>
